body {
    background-color: #007BFF;
    /* Bootstrapin pääsininen väri */
}

#options button {
    padding: 10px 20px;
    font-size: 18px;
    border: 2px solid #007bff;
    border-radius: 10px;
    background-color: #ffffff;
    color: #007bff;
    cursor: pointer;
    transition: all 0.1s ease;
}

#options button:hover {
    background-color: #007bff;
    color: #ffffff;
}